<form [formGroup]="form" (submit)="register()">
  <app-form-field-input
    label="Name"
    [form]="form"
    controlName="name"
    name="name"
    placeholder="Enter name"
    size="full-width"
  />

  <app-form-field-input
    label="Email"
    [form]="form"
    controlName="email"
    name="email"
    placeholder="Enter Email"
    size="full-width"
  />

  <app-form-field-input
    label="Password"
    type="password"
    [form]="form"
    controlName="password"
    name="password"
    placeholder="Enter Password"
    size="full-width"
  />

  <div class="button-row">
    <button
      class="bg-color"
      type="submit"
      mat-raised-button
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </div>
</form>
